<div class="container" >
  <div class="username row">
  <h4>CLASSIFICA</h4>
  </div>
  <div class="col-12">
    <div  class="table row">
  
    <div  class="red"><h4>SQUADRA RED</h4></div>
    <table class="ranking table">
      <thead class="tablehead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titolo</th>
          <th scope="col">Voto</th>
          <th scope="col">Punti</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let redreview of reviews">
          <td>{{redreview.id}}</td>
          <td>{{redreview.title}}</td>
          <td>{{redreview.rating}}</td>
          <td>{{redreview.review}}</td>
        </tr>
      </tbody>
    </table>



  </div>

  <div  class="table row">

  <div  class="blue"><h4>SQUADRA BLUE</h4></div>
  <table class="ranking table">
 
    <thead class="tablehead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titolo</th>
        <th scope="col">Voto</th>
        <th scope="col">Punti</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let redreview of reviews">
        <td>{{redreview.id}}</td> 
        <td>{{redreview.title}}</td>
        <td>{{redreview.rating}}</td>
        <td>{{redreview.review}}</td>
      
      </tr>
    </tbody>
    
  </table>
</div>
</div>
</div>

