
<div [class.red]="currentUser.team==='RED'" [class.blue]="currentUser.team==='BLUE'" class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <mat-card class="example-card col-15">
        <mat-card-header>
            <mat-card-title>{{visualisedMovie.title}}</mat-card-title>
            <mat-card-subtitle>{{visualisedMovie.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <img class="example-image" mat-card-image src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{visualisedMovie.poster_path}}">
        <mat-card-content>
            <p>
               {{visualisedMovie.overview}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <section>
                <div class="col-12 col-md-6 p-4 p-md-6">
                    <button class="button mx-2" mat-raised-button (click)="previousMovie()" ><mat-icon>arrow_circle_left</mat-icon></button>
                </div>
            </section>
            <section>
                <div class="col-12 col-md-6 p-4 p-md-6">
                    <button class="button mx-2" mat-raised-button (click)="reviewMovie()">Rate</button>
                </div>
            </section>
            <section>
                <div class="col-12 col-md-9 p-4 p-md-6">
                    <button class="button" mat-raised-button (click)="nextMovie()" > <mat-icon>arrow_circle_right</mat-icon></button>
                </div>
            </section>

        </mat-card-actions>
    </mat-card>
</div>