<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card class="example-header-image"></div>
          <mat-card-title>{{visualisedMovie.title}}</mat-card-title>
          <mat-card-subtitle>{{visualisedMovie.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{visualisedMovie.poster_path}}">
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <div class="container2">
        <div class="mt-5"></div>
        <div class="descrizione">
          <h2 class="mb-4">DESCRIPTION</h2>
          <p>{{visualisedMovie.overview}}</p>
        </div>
        <div class="row mt-5">
          <div class="col">
            <form #f="ngForm" (ngSubmit)="createReview($event, f)">
              <div class="form-group">
                <label for="rating">Rating:</label>
                <ngb-rating [max]="5" [(rate)]="review.rating"></ngb-rating>
                <input type="hidden" name="rating" [value]="review.rating">
              </div>
              <div [class.red]="currentUser.team==='RED'" [class.blue]="currentUser.team==='BLUE'" class="container">
                <div class="cont-cent">
                  <div class="row">
                    <mat-form-field appearance="outline" class="custom-form-field" class="full-width-input">
                      <mat-label class="label" for="review">Leave a review</mat-label>
                      <textarea matInput placeholder="Your comment..." ngModel name="review"></textarea>
                    </mat-form-field>
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn col-3 mx-5 "> Add Review</button>
                      <button [routerLink]="['/movie-selection']"class="btn col-3 mx-5"> Select Movie</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>