<div class="container">

  <div class="row">
    <div class="col-12" id="main">
    <h1 style="font-weight: 600;">Punti totali: xxx</h1>
    
      </div>
      <div class="row">
        <div class="col-4" id="profile-column">
        <div class="col-12 mt-5">
          
          
            <h2>Profilo giocatore</h2>
            
              <div class="col-12" id="profile-text">
                <span class="profile-data">Nome</span>: <span>{{ currentUser.name }}</span
                ><br />
                <span class="profile-data">Cognome</span>: <span>{{ currentUser.surname }}</span
                ><br />
                <span class="profile-data">Username</span>: <span>{{ currentUser.username }}</span
                ><br />
                <span>Film recensiti</span>: <span>{{ reviews.length }}</span
                  ><br />
               <!-- <span class="ranking-data">Film recensiti</span>: <span>{{ numRecensioni }}</span
                  ><br /> -->
                
              </div>
              <div class="row" id="logout-space" style="text-align:  left;">
                <tnv-logout class="mt-3"></tnv-logout>
              </div>

              </div> 
          </div>

          <div class="col-8">
            <div class="row" id="play">
              
              <div>
                
                <div></div>
                  <button mat-raised-button color="primary">Play</button>

                  
              </div>
              
        
            </div>
            <div class="col-12"id="film-bar">
                <div>
                  <span class="profile-data">Film recensiti da </span><span>{{ currentUser.name }}</span>
                  <div class="col-12">
                    <table class="table" id="ranking">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Titolo</th>
                          <th scope="col">Anno</th>
                          <th scope="col">Voto</th>
                        </tr>
                      </thead>
                      <tbody>

                       
                        <tr *ngFor="let review of reviews">
                          <td>{{review.movieId}}</td>
                          <td></td>
                          <td>{{review.movieId}}</td>
                          <td>{{review.review}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                
                </div>
               
              </div>
            </div>
              
  </div>
</div>
