.container{
  margin-top: 100px;  
  width: 1200px;
  border-radius: 10px;
}

.line{
  color: whitesmoke;
}
  
  .profile{
    height: 250px;
    margin-top: 50px;  
    border-radius: 10px;
    background-color: rgb(242, 242, 242);
    padding: 1.6rem;
  };

    .play button {
      width: 300px;
      height: 50px;
      border-radius: 10px;
      font-size: x-large;
      font-weight: bold;
      
     
     }

     .reviews{
      font-weight: bold;
     }

     .table{
      border: 1.5px solid rgba(21, 20, 20, 0.336);
    }

    .button{
      margin-left: 200px;
      margin-top: 140px;
    }

    .tablehead{
      background-color: rgb(221, 219, 219);
      text-align: left;
    }

    .red{

      .username{
        padding: 1rem;
        height: 50px;
        border-radius: 10px;
        background-color: #9e143e;
          
        }

      .btn-mod{
        color: whitesmoke;
        background-color: #9e143e;
      }

      .play button{
        color: whitesmoke;
        background-color: #9e143e;
      }
    }

    .blue{
      
      
      .username{
        padding: 1rem;
        height: 50px;
        border-radius: 10px;
        background-color: #3e61a1;
        color: whitesmoke;
          
        }

      .btn-mod{
        color: whitesmoke;
        background-color: #3e61a1;
      }

      .play button{
        color: whitesmoke;
        background-color: #3e61a1;
      }
    }
    